include LICENSE
include README.md
recursive-include djangocms_tacc_blockquote/static *
recursive-include djangocms_tacc_blockquote/templates *
recursive-include djangocms_tacc_blockquote/migrations *
